# <center>Study of the Efficacy of Different Anti-Cancer Treatments</center>
In a recent animal study, 249 mice with squamous cell carcinoma (SCC) tumors were treated with various drug regimens, including Capomulin. Over a 45-day period, the study aimed to assess the efficacy of these treatments in inhibiting tumor development. The task involves analyzing the complete dataset and generating tables and figures for the technical report. The study's top-level summary is pending detailed analysis, but it aims to compare the performance of Capomulin against other regimens, considering factors such as tumor size reduction, survival rates, and potential side effects. The ultimate goal is to provide the executive team with a comprehensive overview of the study results to inform future directions in anti-cancer medication development.

## Exploratory Data Analysis

In [12]:
# Import dependencies

import pandas as pd

In [37]:
# Read the mouse CSV file

mouse_df = pd.read_csv('data\Mouse_metadata.csv')
mouse_df.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [30]:
# Read the study CSV file

study_df = pd.read_csv('data\Study_results.csv')
study_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [35]:
# Merge the two DataFrames on the 'Mouse ID' column

merged_df = pd.merge(mouse_df, study_df, on = 'Mouse ID', how = 'left')
merged_df.head(15)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0

In [39]:
# Find the total number of mice used in the study

mouse_count = merged_df['Mouse ID'].nunique()
print(f'There are a total of {mouse_count} mice in the sample.')

There are a total of 249 mice in the sample.

In [41]:
# Find any duplicates in trials and delete the corresponding specimen as bad samples

merged_df[merged_df['Mouse ID'] == 'g989'].index.values

array([908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920],
      dtype=int64)